.bg_img {
  height: 100vh;
  background-image: url(img/my_img.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 1400px;
}
.gradient {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(19, 19, 19, 1));
  background-position: center;
  background-repeat: no-repeat;
}
.home_content {
  width: 1400px;
  height: 100vh;
}

.color {
  color: #f05f40;
}

.name_text {
  width: 30%;

}
.name_text h3 {
  font-size: calc(75px - 0.590625vw);
}

.job_text {
  width: 30%;

}
.job_text h3 {
  font-size: calc(50px - 0.590625vw);
}

.contact_btn {
  font-size: 18px;
  background: #f05f40;
}
.contact_btn:active {
  background: #d64b2b;
}


/* Services */

.services_page {
  background:  rgb(19, 19, 19);
  height: 100vh;
}
.services_content {
  width: 1400px;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
}

.card_container {
  margin-top: 100px;
  gap: 100px;
}

.card_custom {
  background:  rgb(19, 19, 19);
}

.card-text {
  font-size: 15px;
}

@media (max-width: 1500px) {
  .home_page {
    width: 100%;
  }

  .home_content {
    width: 95%;
  }

  /* Services */

  .services_page {
    width: 100%;
  }

  .services_content {
    width: 95%;
  }
  
  .card_container {
    gap: 0;
    justify-content: space-between;
  }

  .card {
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .name_text h3 {
    font-size: calc(75px - 1.890625vw);
  }
  .job_text h3 {
    font-size: calc(50px - 1.890625vw);
  }

  /* Services */

  .card {
    padding: 3% !important;
  }
}

@media (max-width: 991px) {
  .bg_img {
    background-position-x: left;
    background-size: 144%;
  }

  .home_content {
    display: block !important;
    padding-top: 6rem !important;
  }

  .name_text {
    text-align: start !important;
    padding: 0 !important;
    width: 100%;
  }
  .name_text h3 {
    font-size: 100px;
  }

  .job_text {
    margin-right: auto;
    width: 38%;
  }
  .job_text h3 {
    font-size: 50px;
  }

  .contact_btn {
    font-size: 20px;
  }

  /* Services */

  .text_box {
    width: 75% !important;
  }

  .card {
    padding: 4% 2% !important;
  }
}

@media (max-width: 768px) {
  .bg_img {
    background-size: 1080px;
  }

  .job_text {
    width: 50%;
  }

  /* Services */

  .services_page {
    min-height: 135vh !important;
  }

  .text_box {
    width: 100% !important;
  }

  .card_container {
    flex-direction: column;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;
    padding: 30px !important;
  }

  .img_box {
    width: 800px;
  }

  .card-img-top {
    width: 40% !important;
  }

  .card-body {
    margin-top: 0 !important;
  }
  .card-title {
    text-align: start !important;
  }
  .card-text {
    text-align: start !important;
  }
}

@media (max-width: 700px) {
  .bg_img {
    background-position-x: 20%;
  }

  /* Services */
  .services_page {
    min-height: 145vh !important;
  }
}

@media (max-width: 576px) {
  .bg_img {
    background-size: 200%;
  }

  .name_text h3 {
    font-size: calc(75px - 1.890625vw);
  }

  .name_text .contact_btn {
    display: none;
  }

  .job_text {
    width: 70%;
  }
  .job_text h3 {
    font-size: calc(50px - 1.890625vw);
  }
  .job_text p {
    width: 90%;
  }

  /* Services */
  .services_page {
    min-height: 155vh !important;
  }
}

@media (max-width: 400px) {
  .contact_btn {
    font-size: 18px;
    padding: 12px 25px !important;
  }
  
  /* Services */
}

@media (max-width: 364px) {
  .name_text h3 {
    font-size: calc(65px - 1.890625vw);
  }

  .job_text {
    width: 100%;
  }
  .job_text h3 {
    font-size: calc(40px - 1.890625vw);
  }
  .job_text p {
    width: 100%;
  }

  /* Services */
}

